<div class="container">
    <div class="input-container">
        <!-- Select para o tipo de pesquisa -->
        <mat-form-field appearance="outline" class="select-field">
            <mat-label>Pesquisar por</mat-label>
            <mat-select [(ngModel)]="tipoFiltro">
                <mat-option value="titulo">Título</mat-option>
                <mat-option value="autor">Autor</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Campo de entrada para o valor da pesquisa -->
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Digite para pesquisar</mat-label>
            <input [(ngModel)]="filtro" matInput placeholder="Ex: Harry Potter" (keyup.enter)="filtrar()" />
        </mat-form-field>

        <button mat-icon-button color="primary" class="search-button" id="meuBotaoPesquisar" (click)="filtrar()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>

<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()" class="card">
        <img mat-card-image [src]="card.imageUrl" />

        <div class="card-content">
            <mat-card-title class="centered-text">{{card.titulo}}</mat-card-title>
            <mat-card-subtitle class="centered-text">
                Autores: {{ card.autores }}
            </mat-card-subtitle>

            <mat-card-content class="centered-text">
                {{card.descricao}}
            </mat-card-content>

            <br />

            <mat-card-content class="centered-text">
                Gênero: {{card.generos}}
            </mat-card-content>

            <br />

            <mat-card-content class="centered-text">
                R${{card.preco}}
            </mat-card-content>
        </div>

        <mat-card-footer class="card-footer">
            <button mat-button color="primary" class="card-button primary-button" (click)="verMais(card.id)">Ver Mais...</button>
            <button mat-button color="accent" class="card-button accent-button">Adicionar ao Carrinho</button>
        </mat-card-footer>
    </mat-card>
</div>


<mat-paginator 
    [pageSizeOptions]="[10, 25, 50, 100]" 
    [pageSize]="pageSize" 
    [length]="totalRecords"
    (page)="paginar($event)">
</mat-paginator>