<mat-toolbar class="header-admin">
  <!-- Botão de menu lateral -->
  <button (click)="clickMenu()" mat-icon-button class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Logo Centralizada -->
  <div class="header-logo">
    <a routerLink="/admin/gerenciar" class="logo-link">
      <img class="logo" src="/icons/LogoTp2LivrosColorida.svg" alt="Logo">
    </a>
  </div>

  <!-- Espaçador -->
  <span class="livro-spacer"></span>

  <div class="header-actions">
    <!-- Exibição de usuário logado ou botão de login -->
    <div *ngIf="usuarioLogado" [matMenuTriggerFor]="menu" class="username-container">
      <span class="username">{{ usuarioLogado.username }}</span>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deslogar()">Sair</button>
    </mat-menu>

    <button mat-icon-button *ngIf="!usuarioLogado" routerLink="/admin">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</mat-toolbar>
