<mat-toolbar color="primary">
  <!-- Menu Button -->
  <button (click)="clickMenu()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Spacer -->
  <span class="livro-spacer"></span>


  <!-- Cart Button -->
  <button mat-icon-button>
    <mat-icon matBadgeColor="accent">shopping_cart</mat-icon>
  </button>

  <!-- User Info -->
  <button mat-icon-button *ngIf="usuarioLogado" (click)="deslogar()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <span *ngIf="usuarioLogado">{{ usuarioLogado.username }}</span>

  <button mat-icon-button *ngIf="!usuarioLogado" routerLink="/login">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
