<mat-toolbar class="titulo">
    <div class="flex-container">
        <!-- Botão para voltar -->
        <button mat-fab color="accent" (click)="voltar()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <!-- Menu com as opções de rotas -->
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="livro()">
                <mat-icon>menu_book</mat-icon>
                <span>Livros</span>
            </button>
            <button mat-menu-item (click)="caixaLivros()">
                <mat-icon>inventory_2</mat-icon>
                <span>Caixa de Livros</span>
            </button>
            <button mat-menu-item (click)="autor()">
                <mat-icon>person</mat-icon>
                <span>Autores</span>
            </button>
            <button mat-menu-item (click)="genero()">
                <mat-icon>style</mat-icon>
                <span>Gêneros</span>
            </button>
            <button mat-menu-item (click)="fornecedor()">
                <mat-icon>local_shipping</mat-icon>
                <span>Fornecedores</span>
            </button>
            <button mat-menu-item (click)="editora()">
                <mat-icon>business</mat-icon>
                <span>Editoras</span>
            </button>
        </mat-menu>

        <!-- Título da toolbar -->
        <span class="toolbar-title">Cadastro de Autores</span>

        <!-- Botão de adicionar -->
        <button mat-fab color="accent" [matMenuTriggerFor]="menu">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')
                                    && formGroup.get('nome')?.invalid
                                    && formGroup.get('nome')?.touched">
                        {{getErrorMessage('nome' , formGroup.get('nome')?.errors)}}

                        <!--erros do back-end-->
                        @if(formGroup.get('nome')?.hasError('apiError')){
                        <span>{{formGroup.get('nome')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Biografia</mat-label>
                    <input matInput type="text" formControlName="biografia">
                    <mat-error *ngIf="formGroup.get('biografia')
                                    && formGroup.get('biografia')?.invalid
                                    && formGroup.get('biografia')?.touched">
                        {{getErrorMessage('biografia' , formGroup.get('biografia')?.errors)}}

                        <!--erros do back-end-->
                        @if(formGroup.get('biografia')?.hasError('apiError')){
                        <span>{{formGroup.get('biografia')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>

                <!-- inserindo a Imagem -->
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Imagem do Autor</mat-label>
                    <input type="file" (change)="carregarImagemSelecionada($event)" hidden #fileInput>
                    <input matInput [value]="fileName" readonly>

                    <button mat-icon-button matSuffix (click)="fileInput.click()">
                        <mat-icon>folder_open</mat-icon>
                    </button>
                </mat-form-field>

                <div class="container responsive-grid">
                    <mat-card>
                        <img mat-card-image [src]="imagePreview" />
                    </mat-card>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="salvar()">
                Salvar
            </button>
            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluir()"
                [disabled]="formGroup.invalid">
                Excluir
            </button>
            <button mat-raised-button (click)="voltar()">
                Cancelar
            </button>
        </mat-card-actions>
    </mat-card>
</div>