/* Container geral */
.container {
  display: flex;
  justify-content: center; /* Centraliza os elementos horizontalmente */
  padding: 30px;
}

/* Wrapper dos cards */
.cards-wrapper {
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha */
  gap: 20px; /* Espaço entre os cards */
  justify-content: center; /* Alinha os cards horizontalmente */
}

/* Cartão */
.card {
  flex: 1 1 calc(25% - 20px); /* Cards ocupam 25% da largura com gap */
  max-width: 300px; /* Limita a largura máxima */
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Garante que elementos não ultrapassem os limites */
  transition: all 0.3s ease-in-out; /* Transição suave para hover */
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
  transform: translateY(-5px); /* Levanta o card para um efeito flutuante */
}

/* Ajusta a imagem */
.mat-card-image {
  width: 100%;
  height: 200px; /* Altura fixa para as imagens */
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: transform 0.5s ease-in-out;
}

.card:hover .mat-card-image {
  transform: scale(1.05); /* Leve zoom na imagem ao passar o mouse */
}

/* Títulos e subtítulos */
.card-content {
  padding: 20px;
}

.mat-card-title,
.mat-card-subtitle {
  text-align: center;
  font-weight: 500;
  color: #333333;
}

.mat-card-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.mat-card-subtitle {
  font-size: 1em;
  color: #666666;
}

/* Rodapé do card */
.card-footer {
  display: flex;
  justify-content: space-between; /* Espaça os botões horizontalmente */
  padding: 15px 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #e1e1e1;
}

.card-footer button {
  flex: 1;
  padding: 10px;
  border-radius: 25px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.card-footer button:hover {
  transform: scale(1.05);
}

.card-footer button:focus {
  box-shadow: 0 0 0 2px #1A2E6D; /* Contorno sutil ao focar */
}



/* Responsividade */
@media screen and (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 20px); /* Em telas menores, ocupa 50% da largura */
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex: 1 1 calc(100% - 20px); /* Ocupa 100% da largura em telas pequenas */
  }
}
