<!-- Barra superior -->
<mat-toolbar color="primary" class="titulo">
  <span class="toolbar-title">Controle de Livros</span>
  <button mat-fab color="accent" routerLink="./new">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div class="input-container">
    <mat-form-field appearance="outline" class="select-field">
      <mat-label>Pesquisar por</mat-label>
      <mat-select [(ngModel)]="tipoFiltro">
          <mat-option value="titulo">Título</mat-option>
          <mat-option value="autor">Autor</mat-option>
          <mat-option value="genero">Gênero</mat-option>
      </mat-select>
  </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Pesquisar</mat-label>
      <input [(ngModel)]="filtro" matInput placeholder="Ex: Harry Potter" #input (keyup.enter)="filtrar()" />
    </mat-form-field>
    <button mat-icon-button color="primary" class="search-button" id="meuBotaoPesquisar" (click)="filtrar()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<table mat-table [dataSource]="livros" class="mat-elevation-z8">
  <ng-container matColumnDef="linha">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let livro; let i = index">{{obterNumeroLinha(i)}}</td>
  </ng-container>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let livro">{{ livro.id }}</td>
  </ng-container>

  <!-- Titulo Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef>Titulo</th>
    <td mat-cell *matCellDef="let livro">{{ livro.titulo }}</td>
  </ng-container>

  <!-- Descrição Column -->
  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef>Descrição</th>
    <td mat-cell *matCellDef="let livro">{{ livro.descricao }}</td>
  </ng-container>

  <!-- Quantidade Em Estoque Column -->
  <ng-container matColumnDef="quantidadeEstoque">
    <th mat-header-cell *matHeaderCellDef>Quantidade em Estoque</th>
    <td mat-cell *matCellDef="let livro">{{ livro.quantidadeEstoque }}</td>
  </ng-container>

  <!-- ISBN Column -->
  <ng-container matColumnDef="isbn">
    <th mat-header-cell *matHeaderCellDef>ISBN</th>
    <td mat-cell *matCellDef="let livro">{{ livro.isbn }}</td>
  </ng-container>

  <!-- Preco Column -->
  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef>Preço</th>
    <td mat-cell *matCellDef="let livro">{{ livro.preco | currency:'BRL':'symbol':'1.2-2'}}</td>
  </ng-container>

  <!-- Fornecedor Column -->
  <ng-container matColumnDef="fornecedor">
    <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
    <td mat-cell *matCellDef="let livro">{{ livro.fornecedor.nome }}</td>
  </ng-container>

  <!-- Editora Column -->
  <ng-container matColumnDef="editora">
    <th mat-header-cell *matHeaderCellDef>Editora</th>
    <td mat-cell *matCellDef="let livro">{{ livro.editora.nome }}</td>
  </ng-container>

  <!-- Gênero Column -->
<ng-container matColumnDef="genero">
  <th mat-header-cell *matHeaderCellDef>Gênero</th>
  <td mat-cell *matCellDef="let livro">
    <span *ngFor="let genero, let last = last of livro.generos">
      {{ genero.nome }}<span *ngIf="!last">, </span>
    </span>
  </td>
</ng-container>

<!-- Autor Column -->
<ng-container matColumnDef="autor">
  <th mat-header-cell *matHeaderCellDef>Autor</th>
  <td mat-cell *matCellDef="let livro">
    <span *ngFor="let autor, let last = last of livro.autores">
      {{ autor.nome }}<span *ngIf="!last">, </span>
    </span>
  </td>
</ng-container>

  <!-- Classificação Column -->
  <ng-container matColumnDef="classificacao">
    <th mat-header-cell *matHeaderCellDef>Classificação</th>
    <td mat-cell *matCellDef="let livro">
      {{ livro.classificacao.descricao }}
    </td>
  </ng-container>

  <ng-container matColumnDef="datalancamento">
    <th mat-header-cell *matHeaderCellDef>Data de Lançamento</th>
    <td mat-cell *matCellDef="let livro">{{ livro.datalancamento }}</td>
  </ng-container>

  <!-- acao Column -->
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef>Ação</th>
    <td mat-cell *matCellDef="let livro">
      <button mat-icon-button color="primary" routerLink="/admin/livros/edit/{{ livro.id }}">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="excluir(livro)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr><!--Colunas que serao exibidas-->
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator 
  [pageSizeOptions]="[10, 25, 50, 100]" 
  [pageSize]="pageSize" 
  [length]="totalRecords" 
  (page)="paginar($event)">
</mat-paginator>