<mat-toolbar class="header-cliente-minimal">
  <!-- Logo -->
  <div class="header-logo">
    <a routerLink="/" class="logo-link">
      <img class="logo" src="/icons/LogoTp2LivrosColorida.svg" alt="Logo" />
    </a>
  </div>

  <!-- Espaçador -->
  <span class="livro-spacer"></span>

  <!-- Ícones à direita -->
  <div class="header-actions">
    <button mat-icon-button (click)="togglePesquisa()">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button (click)="verFavoritos()">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button (click)="sugestoes()">
      <mat-icon>lightbulb</mat-icon>
    </button>

    <button mat-icon-button (click)="verCarrinho()">
      <mat-icon>shopping_cart</mat-icon>
      <mat-badge [hidden]="true" matBadge="0"></mat-badge>
    </button>

    <!-- Menu de deslogar -->
    <button mat-icon-button *ngIf="usuarioLogado" [matMenuTriggerFor]="menu">
      <span *ngIf="usuarioLogado">{{ usuarioLogado.username.charAt(0) }}</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="meuPerfil()">Meu perfil</button>
      <button mat-menu-item (click)="deslogar()">Sair</button>
    </mat-menu>

    <button mat-icon-button *ngIf="!usuarioLogado" routerLink="/login">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Sobreposição de fundo e campo de pesquisa -->
<div class="overlay" *ngIf="exibirPesquisa">
  <div class="search-container">
    <!-- Campo de pesquisa -->
    <!-- Filtros de Pesquisa -->
    <mat-form-field appearance="outline" class="select-field">
      <mat-label>Pesquisar por</mat-label>
      <mat-select [(ngModel)]="filtroSelecionado">
        <mat-option value="livro">Livros</mat-option>
        <mat-option value="caixaLivro">Caixa de Livros</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="search-input">
      <mat-label>O que você procura?</mat-label>
      <input
        matInput
        [(ngModel)]="termoPesquisa"
        placeholder="Título, autor ou gênero"
        #input
        (keyup.enter)="pesquisar()" 
      />
    </mat-form-field>
    <button mat-icon-button matSuffix (click)="pesquisar()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <!-- Botão de Fechar -->
  <button class="close-btn" mat-icon-button (click)="togglePesquisa()">
    <mat-icon>close</mat-icon>
  </button>
</div>
