/* Estilo do cabeçalho */
.header-cliente-minimal {
  background-color: #1A2E6D; /* Azul Marinho */
  color: #F9D56B; /* Amarelo Dourado */
  display: flex;
  align-items: center;
  height: 110px;
  padding: 0 10%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente a logo dentro do header */
  height: 100%; /* Certifique-se de que o header tem altura definida */
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  
  max-height: 90%; /* A logo se ajustará à altura do contêiner pai */
  object-fit: contain; /* Garante que a proporção da logo seja mantida */
}



.livro-spacer {
  flex: 1 1 auto;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-actions button {
  color: #F9D56B;
}

.header-actions button:hover {
  background-color: rgba(249, 213, 107, 0.1);
  border-radius: 50%;
}

/* Estilo da sobreposição de fundo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.795); /* Fundo escuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Garantir que fique sobre os outros elementos */
}

/* Estilo do container de pesquisa */
.search-container {
  background-color: #FFFFFF; /* Fundo branco */
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 60%;
  max-width: 500px; /* Limita a largura para não ficar muito grande */
}

.search-input {
  flex: 1;
}

.search-container button {
  color: #FFFFFF;
  background-color: #1A2E6D;
}

.search-container button:hover {
  background-color: #2D6A4F; /* Verde Floresta */
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #1A2E6D;
}

.close-btn:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Efeito hover */
}
