.titulo {
    display: fixed;
    background-color: #1A2E6D; /* Azul Marinho para a toolbar */
  }
  .all{
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .toolbar-title {
    flex: 1;
    text-align: center;
    font-size: x-large;
    color: #ffffff;
    font-weight: 500;
  }
  
  .container {
    padding: 1rem;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
  }
  
  .input-field {
    width: 100%;
  }
  
  table {
    width: 100%;
    background-color: #D9D9D9;
  }
  
  th.mat-header-cell {
    background-color: #2D6A4F;
    color: #FFFFFF;
    padding: 12px;
    text-align: left;
  }
  
  td.mat-cell {
    padding: 12px;
    border-bottom: 1px solid #E96A2A;
    color: #1A2E6D;
  }
  
  button[mat-button] {
    color: #ffffff; /* Cor do texto */
    background-color: transparent;
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 0%; /* Bordas levemente arredondadas */
    transition: none; /* Transição suave */
    border: none; 
    display: block; /* Faz com que os botões fiquem um abaixo do outro */
    width: 100%; /* O botão ocupa toda a largura disponível */
    text-align: left; /* Alinha o texto à esquerda */
  }
  
  button[mat-button]:hover {
    background-color: #ffffff; /* Fundo amarelo dourado com mais opacidade */
    color: #1A2E6D; /* Azul Marinho para o texto ao passar o mouse */
    border-radius: 15px;
  }
  
  /* Estilo para botões na tabela */
  button.mat-icon-button {
    color: #E96A2A; /* Laranja Queimado para os botões */
  }
  
  button.mat-icon-button:hover {
    background-color: #F9D56B; /* Amarelo Dourado ao passar o mouse */
  }
  
  /* Estilo para os botões da toolbar */
  button[mat-fab] {
    background-color: #ffffff; /* Amarelo Dourado para o botão de adicionar */
    color: #1A2E6D; /* Azul Marinho para o ícone do botão */
  }
  
  /* Efeito de sombra nos botões */
  button[mat-fab]:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra leve ao passar o mouse */
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza os itens h orizontalmente */
    margin: 20px auto; /* Adiciona margem superior e centraliza horizontalmente */
    width: 80%; /* Define a largura máxima da caixa de pesquisa */
  }
  
  .input-field {
    width: 100%; /* Faz com que a caixa de pesquisa ocupe toda a largura disponível */
  }
  
  #meuBotaoPesquisar { 
    margin-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transform: scale(1.4);
  }
  
  mat-paginator{
    background-color: transparent;
  }