<div class="tudo">
  <mat-toolbar color="primary" class="titulo">
    <span class="toolbar-title">Controle de Sugestões</span>
  </mat-toolbar>

  <div class="all">
    <table mat-table [dataSource]="sugestoes" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let sugestao">{{ sugestao.idSugestao }}</td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome do Cliente</th>
        <td mat-cell *matCellDef="let sugestao">{{ sugestao.nomeCliente }}</td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username do Cliente</th>
        <td mat-cell *matCellDef="let sugestao">{{ sugestao.usernameCliente }}</td>
      </ng-container>

      <!-- Data Nascimento Column -->
      <ng-container matColumnDef="dataSugestao">
        <th mat-header-cell *matHeaderCellDef>Data da Sugestão</th>
        <td mat-cell *matCellDef="let sugestao">{{ sugestao.dataSugestao | date : "dd/MM/yyyy"}}</td>
      </ng-container>

      <!-- Data Nascimento Column -->
      <ng-container matColumnDef="sugestao">
        <th mat-header-cell *matHeaderCellDef>Sugestão do Cliente</th>
        <td mat-cell *matCellDef="let sugestao">{{ sugestao.sugestao }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>