<div class="container">
    <h1>Sugestões dos Clientes</h1>
  
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="loading" class="text-center">
      <p>Carregando sugestões...</p>
    </div>
  
    <ul class="list-group" *ngIf="!loading && sugestoes.length > 0">
      <li class="list-group-item" *ngFor="let sugestao of sugestoes">
        <strong>Sugestão:</strong> {{ sugestao.sugestao }}
        <br />
        <small>Data: {{ sugestao.dataSugestao |  date:'dd/MM/yyyy' }}</small>
        <br />
        <small><strong>Cliente:</strong> {{ sugestao?.cliente?.usuario?.nome }}</small>
        <br />
        <small><strong>Username Cliente:</strong> {{ sugestao?.cliente?.usuario?.username }}</small>
      </li>
    </ul>
  
    <div *ngIf="!loading && sugestoes.length === 0">
      <p class="text-muted">Nenhuma sugestão encontrada.</p>
    </div>
  </div>
  