<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>Home</mat-list-item>
            <mat-list-item routerLink="/admin/autores">Controle de Autores</mat-list-item>
            <mat-list-item routerLink="/admin/livros">Controle de Livros</mat-list-item>
            <mat-list-item routerLink="/admin/caixaLivros">Controle de Caixa de Livros</mat-list-item>
            <mat-list-item routerLink="/admin/generos">Controle de Generos</mat-list-item>
            <mat-list-item routerLink="/admin/editoras">Controle de Editoras</mat-list-item>
            <mat-list-item routerLink="/admin/fornecedores">Controle de Fornecedores</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>